@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap);

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

/* #region Section one */

#section-one {
  height: 90vh;
  width: 100vw;
  background: linear-gradient(
      223.41deg,
      rgba(0, 0, 0, 0.16) 17.28%,
      #000000 80.52%
    ),
    url(../img/programming.jpg) center center no-repeat;
}

#section-one .container {
  display: flex;
  align-items: center;
}

#section-one header {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  position: absolute;
  top: 0;
  width: 80%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#section-one header h1 {
  font-family: "Kaushan Script";
  cursor: pointer;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#section-one header h1 a {
  text-decoration: none;
  color: #ffffff;
}

#section-one header h1:hover {
  transform: scale(1.1);
}

#section-one header ul {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

#section-one header li {
  margin-left: 50px;
}

#section-one header li a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px;
}

#section-one header li a:hover::before {
  width: 32px;
}

#section-one header li a::before {
  content: "";
  position: absolute;
  width: 0;
  margin-right: 10px;
  bottom: 0;
  height: 2px;
  transition: all 0.5s ease;
  background-color: #fff;
}

.title-container {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  width: 60%;
}

.subtitle {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
}

.name-subtitle {
  font-weight: 600;
}

.title {
  font-weight: 800;
  font-size: 72px;
}

.btn-title {
  margin-top: 50px;
  width: 300px;
  height: 64px;
  background: linear-gradient(100deg, #e352b2 0%, #e02828 100%);
  border-radius: 16px;
  font-size: 18px;
  line-height: 22px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  color: #fff;
  box-shadow: 0px 24px 32px -16px rgba(255, 46, 104, 0.25);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn-title:hover {
  box-shadow: 0px 0px 64px -16px rgba(255, 46, 104, 0.75);
}

.down-arrow {
  font-size: 72px;
  color: #ffffff;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/* #endregion */

/* #region Section two */

#section-two .container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: fit-content;
}

.stack-subtitle {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  background: linear-gradient(92.61deg, #e352b2 0%, #e02828 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
}

.stack-title {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(92.61deg, #e352b2 0%, #e02828 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
}

.stack {
  padding-top: 64px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.stack-icon {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack i {
  font-size: 144px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: #222222;
}

.stack i:hover {
  transform: scale(1.1);
}

.html-icon:hover {
  color: #f06529;
}

.css-icon:hover {
  color: #1f5faa;
}

.js-icon:hover {
  color: #f7df1e;
}

.react-icon:hover {
  color: #00d8ff;
}

.node-icon:hover {
  color: #83cd29;
}

/* #endregion */

/* #region Section three */

/* #endregion */

/* #region Section four */

#section-four .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  font-size: 64px;
  font-weight: 600;
  text-align: center;
  background: linear-gradient(92.61deg, #e352b2 0%, #e02828 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: max-content;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 80%;
}

.text-about {
  max-width: 60%;
  font-size: 28px;
}

.icon-about {
  width: 400px;
  height: auto;
}

/* #endregion */
